{% extends 'base.html'%}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Courgette|Kaushan+Script|Marck+Script&display=swap" rel="stylesheet">
<body style="background-image:url(https://stmed.net/sites/default/files/sci-fi-wallpapers-30855-4429710.jpg);background-size:cover;background-repeat:no-repeat;">
<div class="container">

<div class="row">

  <div class="col-md-4" style="color:silver;font-family: 'Courgette', cursive">
    <h3 style="font-size:50px;" >Username: {{user.username| capitalize}} 🤑</h3><br><br>

   
    {% if user.bio %}
      <p style="font-size:30px;">Bio :" {{user.bio}} "</p>
    {% else%}
      <p style="font-size:32px;" > {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div><br><br>
<div class="col-md-4"></div>

  <div class="col-md-4">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="photo from file" class="img-thumbnail">

    {% else %}
    <p style="font-size:18px;color:gray;">No profile picture</p>

    {% endif %}

        {% if user == current_user %}
    <form  action="{{url_for('main.update_profile',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required >
      <input type="submit">
    </form>
      {% endif %}
  </div>

</div>
</div><br><br>

<p  style="font-size:50px;color:bray;text-align:center;"> Your pitch</p><br><br>
<div class = "row">
  {% for pit in pitch%}
  <div class="col-md-4">
    <div class="card">
      <p  style="font-size:15px;color:white;text-align:center;">Title:{{pit.title}}</p>
      <p  style="font-size:15px;color:white;text-align:center;"> Pitch:{{pit.body}}</p>
    </div>

  </div>
  {% endfor%}
</div>

</body>
{% endblock %}