h1{
    text-align: center;
    color:#16174b;
    font-size: 70px;
    font-family: 'Courgette', cursive;

}
ul {
    background-color: black;
    }
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black ;
}

li a {
float: right;
}

li a {
display: block;
color: grey;
text-align: center;
font-family: 'Kaushan Script', cursive;
font-size: 20px;
padding: 14px 16px;
text-decoration: none;
}


li a:hover {
background-color: red;
}
#life b {
float:left;
display: block;
color: 	#255c47;
text-align: center;
font-size:25px;
font-family: 'Bree Serif', serif;
text-decoration: none;
}
