{% extends 'base.html' %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Courgette|Kaushan+Script|Marck+Script&display=swap" rel="stylesheet">
     
<body>
    <h1 id="in"> PRIMEPITCH </h1>
    <h5>"Go confidently in the direction of your dreams! Live the life you’ve imagined;  Henry David Thoreau."</h5><br><br>
    <p>THis is basically an app built for you to pich an idea for probably a client or a friend.</p>
    <p>It allows you to also leave a comment and choose from an array of diffrent categorys.</p>
    <p>So feel free and try our app!!</p>
<style>

        h1{
            text-align: center;
            color:gray;
            font-size: 75px;
            font-family: 'Courgette', cursive;
        }
        h5{
            font-size:31px;
            color:#990000;
            text-align:center;
            font-family: 'Marck Script', cursive;
        }
        p{
            font-size:25px;
            color:silver;
            text-align:center;
            font-family: 'Kaushan Script', cursive;
        }
        body{
            background-image:url(https://stmed.net/sites/default/files/sci-fi-wallpapers-30855-4429710.jpg);
            background-size:cover;
            background-repeat:no-repeat;

        }
        h2{
            color:silver;
            font-size:40px;
            font-family: 'Courgette', cursive;
            text-align:center;
        }
        
        a{
            color:red;
            width:100px;
            height:40px;
        }
</style>
<div class="container">
    <h2>Categories....</h2><br><br>
    <div class="row">
        <div class="col-md-3">
                <a class="btn btn-success" type="button" href="/" >Games</a>

        </div>
        <div class="col-md-3">
                <a class="btn btn-success" type="button" href="/" >Business</a>

        </div>
        <div class="col-md-3">
                <a class="btn btn-success" type="button" href="/" >Music</a>

        </div>
        <div class="col-md-3">
                <a class="btn btn-success" type="button" href="/" >Tech</a>

        </div>
    </div>
</div>
</body>
{% endblock%}








   