<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>PRIMEPITCH</title>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Courgette|Kaushan+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        <link href="https://www.color-hex.com/" rel="colorscheme">

    </head>
    
    <body id="boss">

         <ul>
        <li id="life"><b>PRIMEPITCH</b></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">About</a></li>
        </ul><br>


            <h1> PRIMEPITCH </h1>







    </body>
</html>
