{% extends 'base.html' %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Courgette|Kaushan+Script|Marck+Script&display=swap" rel="stylesheet">
     
<body>
    <h1 id="in"> PRIMEPITCH </h1>
    <h5>"Go confidently in the direction of your dreams! Live the life you’ve imagined;  Henry David Thoreau."</h5><br><br>
    <p>THis is basically an app built for you to pich an idea for probably a client or a friend.</p>
    <p>It allows you to also leave a comment and choose from an array of diffrent categorys.</p>
    <p>So feel free and try our app!!</p>
<style>

        h1{
            text-align: center;
            color:gray;
            font-size: 75px;
            font-family: 'Courgette', cursive;
        }
        h5{
            font-size:31px;
            color:#990000;
            text-align:center;
            font-family: 'Marck Script', cursive;
        }
        p{
            font-size:25px;
            color:silver;
            text-align:center;
            font-family: 'Kaushan Script', cursive;
        }
        body{
            background-image:url(https://stmed.net/sites/default/files/sci-fi-wallpapers-30855-4429710.jpg);
            background-size:cover;
            background-repeat:no-repeat;

        }
        h2{
            color:#005900;
            font-size:43px;
            font-family: 'Courgette', cursive;
            text-align:center;
        }
        
        a{
            color:red;
            width:100px;
            height:40px;
        }
        h3{
            color:white;
            font-family: 'Bree Serif', serif;
            
        }
        .card{
            background-color:grey;
            height:380px;
            width:250px;
        }
        .card p{
            color:black;
        }
</style>
<div class="container">
    <h2>Categories....</h2><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <h3>The gaming life...</h3>
                <p>Click below to offer your opinion on games and pitch a game idea and revolutionize gaming</p>
                <p>"It is in games that many men discover their paradise.by Robert Wilson Lynd"</p>
                <a class="btn btn-danger" type="button" href="/categories/games" >Games</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h3>A maney maker mind...</h3>
                <p>Click below to give your best ideas on business or even tips on how to make ones business successful</p>
                <p>“Have the end in mind and every day make sure your working towards it” – Ryan Allis</p>
                <a class="btn btn-danger" type="button" href="/categories/business" >Business</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h3>The food for the soul....</h3>
                <p>Click below to air out your take on music or even give us your ideal genre </p>
                <p>“Music is to the soul what words are to the mind.” ― Modest Mouse</p>
                <a class="btn btn-danger" type="button" href="/categories/music" >Music</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h3>For the skillful mind....</h3>
                <p>Click below to express your views on technology and how it affects the human race pitch your idea on how to better it.</p>
                <p>“It's still magic even if you know how it's done.”― Terry Pratchett</p>
                <a class="btn btn-danger" type="button" href="/categories/tech" >Tech</a>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock%}








   